<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="BasePlate">
  <link
    name="Base">
    <inertial>
      <origin
        xyz="-0.0311484593356243 0.0114998281787011 1.00000000000001"
        rpy="0 0 0" />
      <mass
        value="0.859375" />
      <inertia
        ixx="0.00198551432291667"
        ixy="0"
        ixz="0"
        iyy="0.00114628092447917"
        iyz="-1.91994134710975E-20"
        izz="0.00139872233072917" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BasePlate/meshes/Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BasePlate/meshes/Base.STL" />
      </geometry>
    </collision>
  </link>
</robot>